{% set reviews = [
    {
        'author':'Владимир Шелагуров',
        'review_date': '6 февраля',
        'text':'Здравствуйте! Вашим магазином пользуюсь давно. Техника очень нравится. Солидная, надежная. Доставка такая о которой многие могут позавидовать. Всегда быстро, товар очень хорошо упакован. Сотрудники всегда вежливые, внимательные. Знают свое дело. МОЛОДЦЫ! Обязательно буду еще пользоваться Вашим интернет-магазином GREENWORKS.'
    },
    {
        'author':'Лейла В.',
        'review_date': '1 января',
        'text':'Отличный магазин! Менеджеры магазина хорошие. Всё доступно объяснили, помогли с оформлением, Товар получили, всё соответствует. Магазин рекомендую. Greenworks рулит!!!'
    },
    {
        'author':'ББ',
        'review_date': '9 апреля',
        'text':'Покупал снегоуборщик 82V и дополнительный аккумулятор к нему. Всё понравилось, отработали чётко начиная от покупки до доставки в Санкт-Петербург. Оформлял на организацию по 6/н расчёту с НДС. Документооборот через ЭДО. Общение дружелюбное. Снегоуборщиком очень доволен, затраты сил и времени на уборку снега сократились в разы. Рекомендую магазин и продукцию.'
    },
        {
        'author':'ББ',
        'review_date': '9 апреля',
        'text':'Покупал снегоуборщик 82V и дополнительный аккумулятор к нему. Всё понравилось, отработали чётко начиная от покупки до доставки в Санкт-Петербург. Оформлял на организацию по 6/н расчёту с НДС. Документооборот через ЭДО. Общение дружелюбное. Снегоуборщиком очень доволен, затраты сил и времени на уборку снега сократились в разы. Рекомендую магазин и продукцию.'
    },
        {
        'author':'ББ',
        'review_date': '17 марта',
        'text':'Покупал снегоуборщик 82V и дополнительный аккумулятор к нему. Всё понравилось, отработали чётко начиная от покупки до доставки в Санкт-Петербург. Оформлял на организацию по 6/н расчёту с НДС. Документооборот через ЭДО. Общение дружелюбное. Снегоуборщиком очень доволен, затраты сил и времени на уборку снега сократились в разы. Рекомендую магазин и продукцию.'
    },    {
        'author':'ББ',
        'review_date': '29 апреля',
        'text':'Покупал снегоуборщик 82V и дополнительный аккумулятор к нему. Всё понравилось, отработали чётко начиная от покупки до доставки в Санкт-Петербург. Оформлял на организацию по 6/н расчёту с НДС. Документооборот через ЭДО. Общение дружелюбное. Снегоуборщиком очень доволен, затраты сил и времени на уборку снега сократились в разы. Рекомендую магазин и продукцию.'
    }
]
%}

    {# <div class="foo">hh</div>
        <div class="swiper my-5 w-100" id="swiperSliderReviews">
            <div class="reviews">
                {% for item in $reviews %}
                    <div class="reviews__item">
                        <div class="reviews__author">
                            <span>{{ item.author }}</span>
                        </div>
                        <div class="reviews__text">{{ item.text }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="too">bb</div> #}

<div class="d-flex">
        <div class="m-auto swiper_custom_button-prev fs-20 d-none d-md-block">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: rotate(180deg);">
            <rect width="42" height="42" rx="21" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 0 42)" fill="#AFDA8E"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5584 29.0316C17.625 29.0905 17.7041 29.1372 17.7913 29.169C17.8784 29.2009 17.9718 29.2173 18.0661 29.2173C18.1605 29.2173 18.2539 29.2009 18.341 29.169C18.4282 29.1372 18.5073 29.0905 18.5739 29.0316L27.1804 21.4472C27.2472 21.3885 27.3002 21.3188 27.3364 21.242C27.3725 21.1652 27.3911 21.0829 27.3911 20.9997C27.3911 20.9166 27.3725 20.8343 27.3364 20.7575C27.3002 20.6807 27.2472 20.611 27.1804 20.5522L18.5739 12.9679C18.4393 12.8492 18.2566 12.7825 18.0661 12.7825C17.8757 12.7825 17.693 12.8492 17.5584 12.9679C17.4237 13.0865 17.348 13.2475 17.348 13.4153C17.348 13.5832 17.4237 13.7441 17.5584 13.8628L25.6585 20.9997L17.5584 28.1366C17.4916 28.1954 17.4386 28.2651 17.4024 28.3419C17.3663 28.4187 17.3477 28.501 17.3477 28.5841C17.3477 28.6673 17.3663 28.7496 17.4024 28.8264C17.4386 28.9031 17.4916 28.9729 17.5584 29.0316Z" fill="white"/>
            </svg>
            </div>
        <div class="swiper my-5  w-100" id="swiperSliderReviews">

            <div class="swiper-wrapper">
                {% for item in reviews %}
                    <div class="swiper-slide h-auto">
                        <div class="reviews__item px-8 py-12">
                            <div class="reviews__date fs-4 text-grey d-flex align-items-center justify-content-between mb-6">
                                <div class="d-flex">
                                {% for i in 0..4 %}
                                    <span class="fs-5" style="color: #FFC800;">★</span>
                                {% endfor %}
                                </div>
                                <span>{{ item.review_date }}</span>
                            </div>
                            <div class="reviews__author fw-bold fs-5 mb-3">
                                <span>{{ item.author }}</span>
                            </div>
                            <div class="reviews__text fs-4 text-grey">{{ item.text }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
        <div class="rounded-circle m-auto swiper_custom_button-next d-none d-md-block">
            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="42" height="42" rx="21" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 0 42)" fill="#AFDA8E"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5584 29.0316C17.625 29.0905 17.7041 29.1372 17.7913 29.169C17.8784 29.2009 17.9718 29.2173 18.0661 29.2173C18.1605 29.2173 18.2539 29.2009 18.341 29.169C18.4282 29.1372 18.5073 29.0905 18.5739 29.0316L27.1804 21.4472C27.2472 21.3885 27.3002 21.3188 27.3364 21.242C27.3725 21.1652 27.3911 21.0829 27.3911 20.9997C27.3911 20.9166 27.3725 20.8343 27.3364 20.7575C27.3002 20.6807 27.2472 20.611 27.1804 20.5522L18.5739 12.9679C18.4393 12.8492 18.2566 12.7825 18.0661 12.7825C17.8757 12.7825 17.693 12.8492 17.5584 12.9679C17.4237 13.0865 17.348 13.2475 17.348 13.4153C17.348 13.5832 17.4237 13.7441 17.5584 13.8628L25.6585 20.9997L17.5584 28.1366C17.4916 28.1954 17.4386 28.2651 17.4024 28.3419C17.3663 28.4187 17.3477 28.501 17.3477 28.5841C17.3477 28.6673 17.3663 28.7496 17.4024 28.8264C17.4386 28.9031 17.4916 28.9729 17.5584 29.0316Z" fill="white"/>
            </svg>
        </div>
    </div>