{% extends "templates/base.twig" %}

{% set title = "Корзина" %}

{% block page %}



    <div class="container">
        <div class="row">


            {% include '/inc/catalog/catalog_sitebar_sm.twig' %}

            <div class="col-12 col-xl-9">
                {% set title = " Личный кабинет / Содержимое корзины" %}
               <div class="my-5">
                   {% include '/inc/main/breadcrumbs.twig' %}
               </div>

                <div class="row">
                    <div class="col-12 col-md-9">
                        <div class="h-100">                            

                            {% for i in 0..3 %}
                                {% include '/inc/basket/basket_item.twig' %}
                            {% endfor %}
                        </div>
                    </div>

                    

                    <div class="col-12 col-md-3">
                        <div class="ps-5 pb-6 d-none d-md-block">
                            <a href="/user-login.html" class="fw-semibold link-dark text-decoration-none align-items-center fs-3 rounded  justify-content-between gap-4 d-flex p-3">
                                Авторизуйтесь, чтобы снизить цену
                            </a>
                            <div class="text-primary fw-semibold fs-3 d-flex">
                                <span class="gift rounded-circle text-white bg-primary fw-medium fs-5 d-flex align-items-center justify-content-center">₽</span>
                                <span class="my-auto ms-2">+ 500 ₽ на счет при регистрации</span>
                            </div>
                        </div>

                        <div class="rounded bg-light p-8 px-5">
                            <div class="pb-6 d-block d-md-none">
                                <a href="/user-login.html" class="fw-semibold link-dark text-decoration-none align-items-center fs-5 rounded  justify-content-between gap-4 d-flex ps-0 p-3">
                                    Авторизуйтесь, чтобы снизить цену
                                </a>
                                <div class="text-primary fw-semibold fs-5 d-flex align-items-center">
                                    <i class="theme-icon theme-icon_bonus fs-10"></i> <span class="fs-4 ps-3">+ 500 ₽ на счет при регистрации</span>
{#                                    <span class="gift rounded-circle text-white bg-primary fw-medium fs-5 d-flex align-items-center justify-content-center">₽</span>#}
{#                                    <span class="my-auto ms-2">+ 500 ₽ на счет при регистрации</span>#}
                                </div>
                            </div>
                            <div class="d-flex fs-5  justify-content-between align-items-center mb-5">
                                <div class="fw-medium">
                                    4 товара
                                </div>
                                <div class="fw-semibold fs-4">
                                    33999 ₽
                                </div>
                            </div>

                            <div class="d-flex align-items-center gap-2 my-6">
                                <span class="fs-4">Промокод</span>
                                <input type="text" class=" ms-22 ms-md-5 form-control rounded-1 border-0 p-2 bg-white border" placeholder="">
                            </div>

                            <div class="fw-medium mb-3">
                                Скидки:
                            </div>
                            <div class="d-flex flex-column gap-1 mb-8">
                                {% for i in 1..2 %}
                                    <div class="d-flex gap-2 fs-4 justify-content-between align-items-center">
                                        <div class="">
                                            Скидка по акции
                                        </div>
                                        <div class="fw-semibold">
                                            − 5999 ₽
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="my-10 d-flex fw-semibold justify-content-between gap-4">
                                    <div class="fs-4">
                                        Итого
                                    </div>
                                    <div class="fs-6 ">
                                        33999 ₽
                                    </div>
                                </div>
                                <div class="text-primary d-flex gap-2 my-5 align-items-center fs-4 fw-semibold">
                                    <i class="theme-icon theme-icon_bonus fs-10"></i> <span class="fs-3">1938 ₽ на счет в личном кабинете</span>
                                </div>
                            </div>



                                <div class="d-flex gap-4 flex-column">
                                    <a href="/order.html" type="submit" class="btn btn-primary py-4">
                                        Оформить заказ
                                    </a>
                                    <a href="#" class="btn btn-outline-primary py-4">
                                        Купить в рассрочку
                                    </a>
                                </div>

                        </div>
                    </div>
                    <div class="d-none d-md-flex gap-4 flex-column mt-7">
                        <a href="/order.html" type="submit" class="btn btn-primary">
                            Перейти к оформлению
                        </a>
                        <a href="/catalog.html" class="btn btn-outline-primary">
                            Купить в рассрочку
                        </a>
                    </div>
                    <div class="my-20 d-none d-md-block">
                        <div class="h2 text-uppercase">
                            аксеуссуары
                        </div>

                        <div class="row my-10">
                            {% for i in 0..2 %}
                                <div class="col-12 p-3 col-sm-6 col-md-4">
                                    {% include '/inc/catalog/catalog_item.twig' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-20">
            <div class="h2 text-uppercase">
                Присмотритесь к этим предложениям
            </div>

            <div role="tabpanel">
{#                <div class="border my-8 border-2 rounded p-2 " id="tabsHome">#}
{#                    <div class="row row-gap-3 border-0 nav nav-tabs">#}
{#                        {% set sections = [#}
{#                            { 'title': 'Хиты продаж', 'active': true },#}
{#                            { 'title': 'Скидки', 'active': false },#}
{#                            { 'title': 'Новинки', 'active': false },#}
{#                            { 'title': 'Рекомендации', 'active': false }#}
{#                        ] %}#}
{#                        {% for key, section in sections %}#}
{#                            <div class="col-6 col-md-3">#}
{#                                <button class="btn text-uppercase btn-tabs p-4 w-100 {{ section.active ? 'active' : '' }}"#}
{#                                        data-bs-toggle="tab" href="#list-home_{{ key }}" role="tab"#}
{#                                        aria-controls="list-home_{{ key }}"#}
{#                                        aria-selected="{{ section.active ? 'true' : 'false' }}">#}
{#                                    {{ section.title }}#}
{#                                </button>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}

                <div class="my-8 p-2 row d-none d-md-flex" id="tabsHome">
                    <div class="row col-8 row-gap-3 border-0 nav nav-tabs">
                        {% set sections = [
                            { 'title': 'Хиты продаж', 'active': true },
                            { 'title': 'Скидки', 'active': false },
                            { 'title': 'Новинки', 'active': false },
                            { 'title': 'Рекомендации', 'active': false }
                        ] %}
                        {% for key, section in sections %}
                            <div class="col-6 col-md-3">
                                <button class="btn btn-tabs rounded-5 border-0 fs-5 p-3 w-100 {{ section.active ? 'active' : '' }}"
                                        data-bs-toggle="tab" href="#list-home_{{ key }}" role="tab"
                                        aria-controls="list-home_{{ key }}"
                                        aria-selected="{{ section.active ? 'true' : 'false' }}">
                                    {{ section.title }}
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                </div>



                <div class="tab-content d-none d-md-flex" id="nav-tabContent">
                    {% for i in 0..3 %}
                        <div class="tab-pane fade {{ i == 0 ? 'show active' : '' }}" id="list-home_{{ i }}"
                             role="tabpanel" aria-labelledby="list-home_{{ i }}-tab">
                            <div class="row d-flex">
                                {% for i in 1..4 %}
                                    <div class="col-12 p-3 col-sm-6 col-md-4 col-lg-3">
                                        {% include '/inc/catalog/catalog_item.twig' %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="my-21 d-none d-md-block">
            {% include '/inc/callback/email.twig' %}
        </div>



    </div>




{% endblock %}
